/* header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
} */

/* Custom card styles */
.custom-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
}
.custom-card-2 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
}
/* Custom card hover effect */
.custom-border-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* left border */
.green-left-border {
  border-left: 5px solid green; /* Thick green left border */
  border-top: none; /* Remove top border */
  border-right: none; /* Remove right border */
  border-bottom: none;
}
.blue-left-border {
  border-left: 5px solid blue; /* Thick blue left border */
  border-top: none; /* Remove top border */
  border-right: none; /* Remove right border */
  border-bottom: none;
}

.orange-left-border {
  border-left: 5px solid rgb(255, 170, 0); /* Thick pink left border */
  border-top: none; /* Remove top border */
  border-right: none; /* Remove right border */
  border-bottom: none;
}

/* meter */
meter {
  width: 100%;
  height: 30px;
  overflow: hidden;
}
.guage-2::-webkit-meter-optimum-value {
  background: blue;
}

.guage-2::-webkit-meter-suboptimal-value {
  background: lightblue;
}

.guage-2::-webkit-meter-even-less-good-value {
  background: darkblue;
}

/* transition */
.transition {
  transition: 0.5s;
}

/* #main-b {
  margin-top: 80px;
} */
